@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --hour {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --rate {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --project {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --year {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --title {
  syntax: "<string>";
  initial-value: 0;
  inherits: false;
}

@keyframes counterr {
  from {
    --title :Empowering businesses with cutting-edge software solutions. From AI-driven analytics to seamless cloud integrations, we are shaping the future of technology.
  }

  to {
    --title : Transforming Ideas into Innovative Solutions Where Vision Meets Technology  World-class design for Saas & Tech companies
  }

}



@keyframes counter {
  from {
    --hour : 0;
    --rate :0;
    --project :0;
    --year :0;
    --title : Transforming Ideas into Innovative Solutions Where Vision Meets Technology
  }
  to {
    --hour : 1000;
    --rate :97;
    --project :47;
    --year : 5;
    --title : World-class design for Saas & Tech companies
  }

  
}

